*{
	margin:0px;
}
html{
	height: 99%;
}
body{
	height: 99%;
}
.grid{
	height: inherit;
	display: grid;
	grid-gap: .5em;
	margin: .5em;
	grid-template-rows: 1fr 100fr;
}
.IDE{
	height: inherit;
	display: grid;
	grid-gap: .5em;
	grid-template-columns: repeat(2,auto);
}
.TXTconsainer{
	display: grid;
	grid-template-rows: 1fr 25fr;
	grid-gap: .5em;
}
#CodeTitle{
	display: grid;
	grid-gap: .5em;
	grid-template-columns: repeat(2,auto);
}
.TXT{
	resize: none;
}
.get{
	float: right;
	visibility: hidden;
}
