html{
	width:99%;
	height:99%;
}
body{
	width:99%;
	height:92%;
	background-color: #af4cab;
}
*{
	margin: 0px;
	padding: 1px;
	color: white;

}
#buttons{
	font-size: 18px;
}
#code{
	float: left;
	width: 50%;
	height: 100%;

}
.TXT{
	background-color: #4CAF50; /* Green */
}
.b{
	background-color: #4CAF50; /* Green */
	 border: none;
	 /*border-radius: 10px;*/
	 color: white;
	 text-align: center;
	 text-decoration: none;
	 display: inline-block;
	 font-size: 20px;
}
#import{
	font-size: 16.5px;
}
#c{
	resize: none;
	width: 100%;
	height: 100%;
}
#out{
	float: right;
	width: 49%;
	height: 100%;
	/*margin-right: 4px;*/
}
#o{
	resize: none;
	width: 100%;
	height: 100%;

}
#clear{
    float: right;
    display: inline-block;
}

#cls{
    float: left;
    display: inline-block;
}
.get{
	float: right;
	visibility: hidden;
}
